<h2>Welcome, {{username}}!</h2>
<h3>Fitness Tracker</h3>
<p>Calories Consumed: {{totalCalories}}</p>

<h3>Add new box</h3>
{{#each boxes}}
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="content">Content:</label>
      <input type="text" class="form-control" id="content" name="content">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="calories">Calories:</label>
      <input type="number" class="form-control" id="calories" name="calories">
    </div>
  </div>
  <div class="col-md-1">
    <button class="btn btn-danger mt-4" onclick="removeBox(this)">X</button>
  </div>
</div>
{{/each}}

<button class="btn btn-primary" onclick="addNewBox()">Add new box</button>

<h3>Workout Plan</h3>
{{#each workouts}}
<div class="form-group">
  <label for="workout">Enter Workout Plan here:</label>
  <input type="text" class="form-control" id="workout" name="workout">
  <button class="btn btn-danger mt-2" onclick="removeWorkout(this)">X</button>
</div>
{{/each}}

<button class="btn btn-primary" onclick="addNewWorkout()">Add new workout plan</button>
<form method="POST" action="/api/user/logout">
  <button class="btn btn-primary">Log out</button>
</form>

<script>
    function addNewBox() {
      const newBox = `
        <div class="row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="content">Content:</label>
              <input type="text" class="form-control" id="content">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="calories">Calories:</label>
              <input type="number" class="form-control" id="calories">
            </div>
          </div>
        </div>
      `;
      document.querySelector('.container').insertAdjacentHTML('beforeend', newBox);
    }

    function addNewWorkout() {
      const newWorkout = `
        <div class="form-group mt-2">
          <label for="workout">Enter Workout Plan here:</label>
          <input type="text" class="form-control" id="workout">
        </div>
      `;
      document.querySelector('.container').insertAdjacentHTML('beforeend', newWorkout);
    }</script>
