<div>
    {{#if loggedIn}}
    <nav>
    <a href="/workout">My Workouts</a>
    <a href="#" onclick="logout()">Logout</a>
    </nav>
    {{else}}
    <nav>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    </nav>
    {{/if}}
    <img src="./assets/images/workout-stock-photo" alt="Buff guy holding two dumbells" width="500" height="500">
</div>

