<div>
    {{#if loggedIn}}
    <nav>
    <a href="./fitness.handlebars">My Fitness</a>
    <a href="./meal.handlebars">My Meals</a>
    <a href="./homepage.handlebars">Logout</a>
    </nav>
    {{else}}
    <nav>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    </nav>
    {{/if}}
    <img src="./assets/images/workout-stock-photo" alt="Buff guy holding two dumbells" width="500" height="500">
</div>