<body>
  <div class="container wrapper">
<header >
  <h1><a class="logo" href="/">Fitness Tracker</a></h1>
      <nav>
        <ul class="navbar">
              <li><a class="link" href="/fitness">My Workouts</a></li>
               <li><a class="link" href="/meal"> My Meals</a></li>
              {{#if loggedIn}}
               <li><a class="link" href="/" id="logout">Logout</a></li>
              {{else}}
               <li><a class="link" href="/login">Login</a></li>
              {{/if}}
        </ul>
      </nav>

    
</header>

<main>
     <img src="/group7/public/assets/images/workout-stock-photo.jpg" alt="Buff guy holding two dumbells" class="img-fluid" width="500" height="500">
    <button class="btn btn-primary mt-4" onclick="getQuote()">Press This For Motivation From Kanye</button>
    <p id="quote" class="mt-4"></p>
  </div>
    {{{body}}}
    
</main>

<footer class="footer">
    <div class="row">
    </div>
</footer>

    {{#if loggedIn}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {{/if}}
</div>
</body>

