  <h1>Meal Plan</h1>

      {{#each meals as |meal|}}
        <div class="meal">
          <h3>{{meal.title}}</h2>
          <p>{{meal.content}}</p>
          <p>Calories: {{meal.calories}}</p>
            <button class="delete-btn" data-id={{meal.id}}>Delete</button>
          </form>
        </div>
      {{/each}}
  
  <h3>Create a meal plan!</h3>
  <form id="create-form">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <label for="content">Content:</label>
    <textarea name="content" id="content" required></textarea>
    <label for="calories">Calories:</label>
    <input type="number" name="calories" id="calories" required>
    <button type="submit">Create</button>
  </form>

  <script src="./assets/js/meal.js"></script>